{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sgp.vemserflash.com.br"
    }
  ],
  "paths": {
    "/api/ura/consultaplano/": {
      "get": {
        "description": "Retorna todos os planos do provedor",
        "parameters": [
          {
            "name": "app",
            "in": "query",
            "description": "Nome da Aplicação no SGP (obrigatório)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zapisp"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Token da Aplicação no SGP (obrigatório)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "20cb1qas-buf1-ner2-bc69-21bg229d1234"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exemplo de retorno dos planos do provedor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "planos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "qtd_servicos": {
                            "type": "integer",
                            "example": 1
                          },
                          "preco": {
                            "type": "string",
                            "example": "9.99"
                          },
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "descricao": {
                            "type": "string",
                            "example": "DESCRICAO"
                          }
                        }
                      }
                    },
                    "total_planos": {
                      "type": "integer",
                      "example": 1
                    },
                    "total_qtd_servicos": {
                      "type": "integer",
                      "example": 1
                    }
                  }
                },
                "examples": {
                  "Retorno de sucesso": {
                    "summary": "Exemplo de dados retornados",
                    "value": {
                      "planos": [
                        {
                          "qtd_servicos": 1,
                          "preco": "9.99",
                          "id": 1,
                          "descricao": "DESCRICAO"
                        }
                      ],
                      "total_planos": 1,
                      "total_qtd_servicos": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/ura/clientes/": {
      "post": {
        "description": "Lista todos os clientes do SGP",
        "parameters": [
          {
            "name": "app",
            "in": "query",
            "description": "Nome da Aplicação no SGP (obrigatório)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zapisp"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Token da Aplicação no SGP (obrigatório)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "20cb1qas-buf1-ner2-bc69-21bg229d1234"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant deleted",
            "content": {}
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}